[Unit]
Description=Simple daemon to control fan speed (server)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/env fand-server
ProtectSystem=full
ProtectHome=true

[Install]
Alias=fand-server
WantedBy=multi-user.target
